{{#if newDrawing}}
  <div class="draw-overlay__hint">
    <h2>Neue Aufgabe</h2>
    Eine neue Aufgabe kann durch zeichnen erstellt werden.
  </div>
{{/if}}

<canvas class="draw-overlay__drawing-area"></canvas>
<div class="draw-overlay__drawing-area__close" {{action 'closeDrawingMode'}}>X</div>
{{#if taskMode}}
  {{task-item
    taskMode=taskMode
    addTaskLayer='addTaskLayer'
    removeTaskShape='removeTaskShape'
    shape=shape
    selectedFeature=selectedFeature
    selectedAddShape=selectedAddShape
    position=position
  }}
{{/if}}

{{yield}}
