<div class="lence-overlay__wrapper">
  <div class="lence-overlay__wrapper__map">
    {{settings.title}}
  </div>
  <div class="lence-overlay__wrapper__map">
    {{mapbox-gl-map
      settings=settings
      tasks=tasks
      setMap='setMap'
    }}
  </div>
</div>
{{yield}}
