<div class="map-controller__main">
</div>
<div class="map-controller__zoom">
  <div class="map-controller__zoom__button map-controller__zoom__button--plus" {{action 'zoomIn'}}>+</div>
  <div class="map-controller__zoom__button map-controller__zoom__button--minus" {{action 'zoomOut'}}>-</div>
</div>