html, body, .application {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.navigation {
  position: fixed;
  top: 20px;
  left: 0px;
  z-index: 900;

  &__item {
    margin: 10px 0;
    padding: 10px;
    color: #fff;
    background: $black-50;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      background: $black-80;
    }
  }
}

.console {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 200px;
  background: $white;
  color: $black;
}

.relaod-window {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  background: $white;
  color: $black;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.help {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 250px;
  background: $white;
  color: $black;
  padding: 0 20px 20px 20px;

  h1 {
    line-height: 1.3em;
    text-transform: uppercase;
  }
}