.base-map {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.mapbox-map {
  height: 400px;
  width: 400px;
}


.navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 900;
  
  &__item {
    margin: 10px 0;
    padding: 10px;
    color: #fff;
    background: $black-50;
    cursor: pointer;
    
    &:hover {
      background: $black-80;
    }
  }
}

.map-control {
  background: $black-20;
  
  &__button {
    position: fixed;
    z-index: 700;
    background: $black-50;
    color: #fff;
    width: 40px;
    text-align: center;
    border-radius: 3px;
    padding: 10px 0;
    
    &:hover {
      background: $black-80;
    }
    
    &--top {
      transform: rotate(-90deg);
      bottom: 115px;
      right: 150px;
    }
    
    &--bottom {
      transform: rotate(-90deg);
      bottom: 65px;
      right: 150px;
    }
    
    &--left {
      bottom: 90px;
      right: 200px;
    }
    
    &--right{
      bottom: 90px;
      right: 100px;
    }
    
    &--plus {
      bottom: 115px;
      right: 20px;
    }
    
    &--minus {
      bottom: 65px;
      right: 20px;
    }
  }
  
  &__rotate {
    position: fixed;
    bottom: 30px;
    right: 100px;
    z-index: 700;
    width: 140px;
  }
}