$white: #fff;
$white-80: rgba(255,255,255,0.8);

$primary-color: #769dbb;
$secondary-color: #76bb88;

$gray: #ddd;

$black: rgba(0,0,0,1);
$black-20: rgba(0,0,0,0.2);
$black-50: rgba(0,0,0,0.5);
$black-80: rgba(0,0,0,0.8);

// Status
$success: #82ad7b;
$alert: #ad7d7b;
$warning: #ad7d7b;
$info: #d0d0d0;