$white: #fff;
$white-80: rgba(255,255,255,0.8);

$primary-color: #2196f3;
$secondary-color: #76bb88;

$gray-light: #e6e6e6;
$gray: #aaaaaa;
$gray-dark: #727272;

$black: rgba(0,0,0,1);
$black-20: rgba(0,0,0,0.2);
$black-50: rgba(0,0,0,0.5);
$black-80: rgba(0,0,0,0.8);

// Notification Status
$success: #77b300;
$alert: #333333;
$warning: #333333;
$info: #BCBCBC;

// Status
$new: #BCBCBC;
$in-progress: #f39200;
$closed: #333333;
$on-hold: #cc0000;