.lence-overlay {
  position: absolute;
  padding: 20px;
  background: $black-50;
  z-index: 100;

  &__wrapper {
    position: relative;
    &__header {
      background: $black-50;
    }

    &__map {
      position: relative;
      width: 400px;
      height: 300px;
    }
  }
}