.map-controller {
  position: absolute;
  z-index: 200;
  width: 145px;

  &__main {
    width: 150px;
    height: 150px;
    display: inline-block;

    &__circle {
      position: absolute;
      border {
        color: $primary-color;
        weight: 6px;
        radius: 50%;
      }

      animation: pulse 1s linear infinite;

      @keyframes "pulse" {
        0% {
           color: rgba(165, 25, 25, 1);
        }
        90% {
           color: rgba(255,0,0,0.0);
        }
        100% {
           color: rgba(255,0,0,1.0);
        }
      }
      &--first {

      }
    }
  }

  &__zoom {
    display: inline-block;
    vertical-align: top;

    &__button {
      background: $black-50;
      color: #fff;
      width: 40px;
      text-align: center;
      border-radius: 3px;
      padding: 10px 0;

      &:hover {
        background: $black-80;
      }

      &--plus {
        margin-bottom: 10px;
      }

      &--minus {
      }
    }
  }
}