.map-controller {
  position: absolute;
  z-index: 200;
  width: 145px;

  &__main {
    background: $primary-color;
    width: 90px;
    height: 90px;
    transform: scale(1);
    opacity: 0.5;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    animation: pulse 2s ease-out infinite;

    @keyframes "pulse" {
      0% {
         transform: scale(1);
      }
      100% {
         transform: scale(2);
      }
    }
  }

  &__zoom {
    display: inline-block;
    vertical-align: top;

    &__button {
      background: $primary-color;
      color: #fff;
      width: 40px;
      text-align: center;
      border-radius: 3px;
      padding: 10px 0;

      &--plus {
        margin-bottom: 10px;
      }

      &--minus {
      }
    }
  }
}