.map-navigation {
  position: absolute;
  top: 20px;
  right: 0px;
  z-index: 900;

  &__item {
    margin: 10px 0;
    padding: 10px;
    color: #fff;
    background: $black-50;
    cursor: pointer;
    width: 140px;

    &:hover {
      background: $black-80;
    }
  }
}