.tasks-without-shape {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  z-index: 800;
  background: $white;
  padding: 10px;

  &__header {
    padding: 0 0 20px 0;
  }

  &__tasks {
    &__task {
      width: calc(100% - 20px);
      border: 1px solid $black;
      border-radius: 3px;
      padding: 5px 10px;
      margin-bottom: 5px;

      &:hover {
        background: $black;
        color: $white;
      }
    }
  }
}