.task-item {
  position: absolute;
  background: $white;
  padding: 20px;
  width: 200px;
  z-index: 999;

  &:focus {
    outline: none;
  }

  &__header {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 0 20px 0;
  }

  &__button-container {
    &__button {
      width: 80px;
      text-align: center;
      text-transform: uppercase;
      padding: 5px;
      background: $black-50;
      color: #fff;
      border-radius: 3px;
      display: inline-block;

      &:hover {
        background: $black-80;
      }
    }

    &__button:first-child {
      margin-right: 16px;
    }
  }

  &__indicator {
    position: absolute;
    width: 20px;
    height: 20px;
    background: $white;
    transform-origin: 50% 50%;
    transform: translate(-50%,0%) rotate(45deg);

    &--bottom {
      bottom: -10px;
      left: 50%;
    }

    &--top {
      top: -10px;
      left: 50%;
    }

    &--right {
      right: -10px;
      top: 50%;
      transform: translate(0%,-50%) rotate(45deg);
    }

    &--left {
      left: -10px;
      top: 50%;
      transform: translate(0%,-50%) rotate(45deg);
    }

    &--none {
      display: none;
    }
  }
}