.task-item {
  position: absolute;
  background: $white;
  padding: 20px;
  width: 200px;
  transform: translate(-50%, -110%);
  z-index: 999;

  &:focus {
    outline: none;
  }

  &__header {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 0 20px 0;
  }

  &__button-container {
    &__button {
      width: 80px;
      text-align: center;
      text-transform: uppercase;
      padding: 5px;
      background: $black-50;
      color: #fff;
      border-radius: 3px;
      display: inline-block;

      &:hover {
        background: $black-80;
      }
    }

    &__button:first-child {
      margin-right: 16px;
    }
  }

  &__indicator {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 20px;
    height: 20px;
    background: $white;
    transform-origin: 50% 50%;
    transform: translate(-50%,0) rotate(45deg);
  }
}