.task-item {
  position: absolute;
  background: $white;
  width: 300px;
  z-index: 999;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.4);

  &--large {
    width: 500px;
  }

  &:focus {
    outline: none;
  }

  &__header {
    background: $primary-color;
    color: $white;

    &__toolbar {
      width: calc(100% - 20px);
      text-align: right;
      padding: 10px 10px 0px 10px;

      &__button {
        display: inline-block;
        padding: 10px 5px;
        font-size: 1.5em;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }

    &__title {
      padding: 0 10px 0 10px;
    }

    &__excerpt {
      padding: 0 10px 20px 10px;
    }
  }

  &--new &__header, &--new &__indicator {
    background: $new;
  }

  &--in_progress &__header, &--in_progress &__indicator {
    background: $in-progress;
  }

  &--on_hold &__header, &--on_hold &__indicator {
    background: $on-hold;
  }

  &--closed &__header, &--closed &__indicator {
    background: $closed;
  }

  &__content {
    &__row {
      border-bottom: 1px solid $gray-light;
      padding: 10px 0;

      &--back {
        background: $gray-light;
        padding: 10px;
      }

      &__label {
        display: inline-block;
        padding: 5px 10px;
        color: $gray-dark;
        font-weight: 400;
        width: 100px;

        &--priority {
          display: block;
        }
      }

      &__value {
        display: inline-block;
      }
    }

    &__button {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      padding: 15px 0;
      display: inline-block;
      border-top: 1px solid $black-20;
      color: $gray-dark;
      font-weight: 400;
    }
  }


  &__indicator {
    position: absolute;
    width: 20px;
    height: 20px;
    background: $primary-color;
    transform-origin: 50% 50%;
    transform: translate(-50%,0%) rotate(45deg);

    &--bottom {
      bottom: -10px;
      left: 50%;
      background: $white !important;
    }

    &--top {
      top: -10px;
      left: 50%;
    }

    &--none {
      display: none;
    }
  }
}