<div class="task-item__content__row task-item__content__row--back" {{action 'setFormMode' 'overview'}}>
  <i class="fa fa-arrow-left"></i>Beschreibung ändern
</div>
{{task.description}}
<div class="task-item__content__button" {{action 'setFormMode' 'overview' on='tap'}}>Beschreibung speichern</div>