<div class="task-item__content__row task-item__content__row--back" {{action 'setFormMode' 'overview'}}>
  <i class="fa fa-arrow-left"></i> Aufgabe auswählen
</div>
{{task-option
  taskOptions=taskOptions
  task=task
}}
<div class="task-item__content__button" {{action 'setFormMode' 'overview' on='tap'}}>Aufgabe speichern</div>