{{#each map in maps}}
  {{#if map.baseMap}}
    {{mapbox-gl-map
      settings=map
      tasks=tasks
      addShapeToTask=addShapeToTask
    }}
  {{else}}
    {{lence-overlay
      settings=map
      tasks=tasks
      isVisible=map.active
    }}
  {{/if}}
{{/each}}

{{outlet}}

<div class="help">
  <div class="help__header">
    Wie bediene ich das System?
  </div>
  <div class="help__content">
    <h1>Lorem ipsum dolor sit amet</h1>
    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </div>
</div>

<div class="console">
</div>